name: Build and Deploy

# Trigger workflow on push or pull request to main branch

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build_job:
        name: Build App # Build job
        runs-on: ubuntu-latest
        steps:
            # Checkout repository code
            - uses: actions/checkout@v3
            # Set up Node.js environment
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "20.19.0"
            # Install dependencies
            - name: Install dependencies
              run: npm ci
            # Build the app
            - name: Build app
              run: npm run build

    deploy_job:
        name: Deploy to GitHub Pages # Deploy job
        needs: build_job # Depends on build_job
        runs-on: ubuntu-latest
        steps:
            # Checkout repository code
            - uses: actions/checkout@v3
            # Set up Node.js environment
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "20.19.0"
            # Install dependencies
            - name: Install dependencies
              run: npm ci
            # Build the app
            - name: Build app
              run: npm run build
            # Deploy to GitHub Pages
            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
